<style>
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}
</style>
<div class="row responsive-lg">
    <div class="col">
        <div class="list card">
            <div class="item item-divider" ng-bind="'Karrierepfad ' + profile.career"></div>
            <div class="item">
                <h2>Insgesamt vergebene XP</h2>
                <span class="badge badge-stable" ng-bind="profile.progress.xp"></span>
            </div>
            <div class="item range range-assertive">
                <i class="icon ion-person"></i>
                <input type="range"
                       min="{{conf.xpReq[profile.progress.level - 1]}}"
                       max="{{conf.xpReq[profile.progress.level]}}"
                       value="{{min(profile.progress.xp, conf.xpReq[profile.progress.level])}}" readonly disabled>
                <i class="icon ion-person-add"></i>
            </div>
            <div class="item item-toggle">
                Alle Karrierepfade anzeigen
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="controls.showAll" ng-change="renderGraph(controls.showAll)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item">
                <svg id="career-graph" width="600" height="600"
                     viewBox="0 0 600 600"
                     preserveAspectRatio="xMidYMid meet">
                </svg>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                <h2>Noch zu vergebene XP</h2>
                <span class="badge badge-stable" ng-bind="profile.progress.xpFree"></span>
            </div>
            <a class="item" ng-click="buyConstitution()"
               ng-disabled="getConstitutionCost() > profile.progress.xpFree">
                Konstitution um 1 verbessern
                <span class="badge {{getConstitutionCost() > profile.progress.xpFree && 'badge-assertive' || 'badge-balanced'}}"
                      ng-bind="getConstitutionCost()"></span>
            </a>
            <a class="item" ng-click="buyCharacteristic(characteristic)"
               ng-repeat="characteristic in ['kg', 'bf', 'st', 'wi', 'ge', 'in', 'wa', 'wk', 'ch']"
               ng-disabled="getCharacteristicsCost(characteristic) > profile.progress.xpFree">
                {{toUpperCase(characteristic)}} um 5 verbessern
                <span class="badge {{getCharacteristicsCost(characteristic) > profile.progress.xpFree && 'badge-assertive' || 'badge-balanced'}}"
                      ng-bind="getCharacteristicsCost(characteristic)"></span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="list card">
            <div class="item item-divider">Fertigkeiten erlernen / steigern</div>
            <a class="item" ng-click="buySkill(skill)"
               ng-repeat="skill in getAvailableSkills() | orderBy:'skill'"
               ng-disabled="skill.costs > profile.progress.xpFree">
                {{skill.skill}} [{{toUpperCase(conf.skills[skill.skill])}}]
                <span class="badge {{skill.costs > profile.progress.xpFree && 'badge-assertive' || 'badge-balanced'}}"
                      ng-bind="skill.costs"></span>
                <p ng-show="skill.level == 1">Erlernen</p>
                <p ng-show="skill.level == 2">Verbessern</p>
                <p ng-show="skill.level == 3">Meistern</p>
            </a>
        </div>
        <div class="list card">
            <div class="item item-divider">Talente oder Eigenschaften aneignen</div>
            <a class="item" ng-click="buyTrait(trait)"
               ng-repeat="trait in getAvailableTraits() | orderBy:'toString()'"
               ng-disabled="trait.costs > profile.progress.xpFree">
                {{trait.trait}}
                <span class="badge {{trait.costs > profile.progress.xpFree && 'badge-assertive' || 'badge-balanced'}}"
                      ng-bind="trait.costs"></span>
                <p ng-bind="$scope.conf.traits[trait.trait].asset"></p>
                <p ng-show="$scope.conf.traits[trait.trait].trait">Ersetzt "{{$scope.conf.traits[trait.trait].trait}}"</p>
            </a>
        </div>
    </div>
</div>