<style>
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}
</style>
<div class="row responsive-lg">
    <div class="col">
        <div class="list card">
            <div class="item item-divider" ng-bind="'Karrierepfad ' + profile.career"></div>
            <div class="item">
                <h2>Insgesamt vergebene XP</h2>
                <span class="badge badge-assertive" ng-bind="profile.progress.xp"></span>
            </div>
            <div class="item range range-assertive">
                <i class="icon ion-person"></i>
                <input type="range"
                       min="{{conf.xpReq[profile.progress.level - 1]}}"
                       max="{{conf.xpReq[profile.progress.level]}}"
                       value="{{profile.progress.xp}}" readonly disabled>
                <i class="icon ion-person-add"></i>
            </div>
            <div class="item item-toggle">
                Alle Karrierepfade anzeigen
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="controls.showAll" ng-change="renderGraph(controls.showAll)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item">
                <svg id="career-graph" width="600" height="600"
                     viewBox="0 0 600 600"
                     preserveAspectRatio="xMidYMid meet">
                </svg>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="list card" ng-show="profile.progress.xpFree > 0">
            <div class="item item-divider">
                <h2>Noch zu vergebene XP</h2>
                <span class="badge badge-assertive" ng-bind="profile.progress.xpFree"></span>
            </div>
            <div class="item">Konstitution verbessern</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Fertigkeiten erlernen / steigern</div>
            <div class="item" ng-repeat="skill in getAvailableSkills() | orderBy:'skill'">
                {{skill.skill}} [{{toUpperCase(conf.skills[skill.skill])}}]
                <span class="badge badge-assertive" ng-bind="skill.costs"></span>
                <p ng-show="skill.level == 1">Erlernen</p>
                <p ng-show="skill.level == 2">Verbessern</p>
                <p ng-show="skill.level == 3">Meistern</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Talente oder Eigenschaften aneignen</div>
            <div class="item" ng-repeat="trait in getAvailableTraits() | orderBy:'toString()'">
                {{trait.trait}}
                <span class="badge badge-assertive" ng-bind="trait.costs"></span>
                <p ng-bind="$scope.conf.traits[trait.trait].asset"></p>
                <p ng-show="$scope.conf.traits[trait.trait].trait">Ersetzt "{{$scope.conf.traits[trait.trait].trait}}"</p>
            </div>
        </div>
    </div>
</div>