<div class="row responsive-lg">
    <div class="col">
        <div class="list card">
            <div class="item item-icon-left ion-bag">
                Gesamtgewicht des Inventars
                <span class="badge badge-stable" ng-bind="totalWeight() + ' kg'"></span>
                <p ng-show="totalWeight() > profile.characteristics.st && totalWeight() < profile.characteristics.st * 2">
                    <font color="orange">
                        Achtung! Optimale Tragekapazit&auml;t von {{profile.characteristics.st}} &uuml;berschritten.
                        {{profile.name}} erleidet Ersch&ouml;pfung!
                    </font>
                </p>
                <p ng-show="totalWeight() >= profile.characteristics.st * 2">
                    <font color="red">
                        Achtung! Maximale Tragekapazit&auml;t von {{profile.characteristics.st}} &uuml;berschritten.
                        {{profile.name}} kann das nicht tragen!
                    </font>
                </p>
            </div>
            <div class="item item-icon-left ion-cash">
                Verm&ouml;gen
                <span class="badge badge-stable" ng-bind="stats.thrones + ' Thronen'"></span>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Nahkampfwaffen</div>
            <div class="item" ng-repeat="weapon in inventory.meleeWeapons | orderBy:'name' track by $index">
                <h2 ng-bind="weapon.name"></h2>
                <p ng-bind="'Gattung: ' + conf.meleeWeapons[weapon.name].type"></p>
                <p>
                    Qualität:
                    <span ng-show="weapon.quality == 0">gering</span>
                    <span ng-show="weapon.quality == 1">normal</span>
                    <span ng-show="weapon.quality == 2">gut</span>
                    <span ng-show="weapon.quality == 3">hervorragend</span>
                </p>
                <p ng-bind="'Schaden: ' + conf.meleeWeapons[weapon.name].damage"></p>
                <p ng-bind="'Durchschlag: ' + conf.meleeWeapons[weapon.name].ap"></p>
                <p ng-bind="'Wurfreichweite: ' + conf.meleeWeapons[weapon.name].range + ' m'" ng-show="conf.meleeWeapons[weapon.name].range > 0"></p>
                <p ng-bind="'Speziell: ' + conf.meleeWeapons[weapon.name].special"></p>
                <p>
                    Wert: ca.
                    <span ng-bind="conf.meleeWeapons[weapon.name].price / 2" ng-show="weapon.quality == 0"></span>
                    <span ng-bind="conf.meleeWeapons[weapon.name].price" ng-show="weapon.quality == 1"></span>
                    <span ng-bind="conf.meleeWeapons[weapon.name].price * 3" ng-show="weapon.quality == 2"></span>
                    <span ng-bind="conf.meleeWeapons[weapon.name].price * 10" ng-show="weapon.quality == 3"></span>
                    Thronen
                </p>
                <p ng-bind="'Gewicht: ' + conf.meleeWeapons[weapon.name].weight + ' kg'"></p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Fernkampfwaffen</div>
            <div class="item" ng-repeat="weapon in inventory.missileWeapons | orderBy:'name' track by $index">
                <h2 ng-bind="weapon.name"></h2>
                <p ng-bind="'Gattung: ' + conf.missileWeapons[weapon.name].type"></p>
                <p>
                    Qualität:
                    <span ng-show="weapon.quality == 0">gering</span>
                    <span ng-show="weapon.quality == 1">normal</span>
                    <span ng-show="weapon.quality == 2">gut</span>
                    <span ng-show="weapon.quality == 3">hervorragend</span>
                </p>
                <p ng-bind="'Schaden: ' + conf.missileWeapons[weapon.name].damage"></p>
                <p ng-bind="'Durchschlag: ' + conf.missileWeapons[weapon.name].ap"></p>
                <p ng-bind="'Reichweite: ' + conf.missileWeapons[weapon.name].range + ' m'"></p>
                <p ng-bind="'Feuermodi: ' + conf.missileWeapons[weapon.name].rof"></p>
                <p ng-bind="'Magazingröße: ' + conf.missileWeapons[weapon.name].clip"></p>
                <p ng-bind="'Nachladezeit: ' + conf.missileWeapons[weapon.name].reload"></p>
                <p ng-bind="'Speziell: ' + conf.missileWeapons[weapon.name].special"></p>
                <p>
                    Wert: ca.
                    <span ng-bind="conf.missileWeapons[weapon.name].price / 2" ng-show="weapon.quality == 0"></span>
                    <span ng-bind="conf.missileWeapons[weapon.name].price" ng-show="weapon.quality == 1"></span>
                    <span ng-bind="conf.missileWeapons[weapon.name].price * 3" ng-show="weapon.quality == 2"></span>
                    <span ng-bind="conf.missileWeapons[weapon.name].price * 10" ng-show="weapon.quality == 3"></span>
                    Thronen
                </p>
                <p ng-bind="'Gewicht: ' + conf.missileWeapons[weapon.name].weight + ' kg'"></p>
                <span class="badge badge-stable" ng-bind="weapon.ammo + ' Schuss'"></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="list card">
            <div class="item item-divider">Ausr&uuml;stung</div>
            <div class="item" ng-repeat="gear in inventory.gears | orderBy:'toString()' track by $index">
                <h2 ng-bind="gear"></h2>
                <p>
                    Wert:
                    <span ng-show="conf.gears[gear]" ng-bind="'ca. ' + conf.gears[gear].price"></span>
                    <span ng-show="conf.armour[gear]" ng-bind="'ca. ' + conf.armour[gear].price"></span>
                    <span ng-hide="conf.gears[gear] || conf.armour[gear]">&lt; 5</span>
                    Thronen
                </p>
                <p>
                    Gewicht:
                    <span ng-show="conf.gears[gear]" ng-bind="conf.gears[gear].weight"></span>
                    <span ng-show="conf.armour[gear]" ng-bind="conf.armour[gear].weight"></span>
                    <span ng-hide="conf.gears[gear] || conf.armour[gear]">0.5</span>
                    kg
                </p>
            </div>
        </div>
    </div>
</div>