<ion-list>
    <div class="item item-text-wrap">
        <h2>Optionaler Schritt - Sanktionierung &amp; Psikr&auml;fte</h2>
        <p>Als psionisch begabte Person hat man {{player.name}} auf den Schwarzen Schiffen aufs geheiligte Terra gebracht. Dort haben Agenten des Goldenen Throns mit allerlei feierlichen, profunden, und sehr schmerzhaften Ritualen, die die Widerstandskraft von {{player.name}}s Seele gegen die psychischen Raubtiere des Warp pr&uuml;fen sollten, die Sanktionierung durchgef&uuml;hrt. Diese Sanktionierung hat {{player.name}} Jahre seines Lebens gekostet und blieb nicht ohne Nebenwirkung.</p>
        <p>Als unerfahrener Psioniker verfügt {{player.name}} bereits &uuml;ber einige geringere Psikr&auml;fte und wurde einer Disziplin der Scholastica Psykana zugeordnet.</p>
    </div>
</ion-list>
<div class="row responsive-lg">
    <div class="col">
        <div class="list card">
            <div class="item item-divider" ng-init="onboarding.psiPowers = []">
                <h2>Anfangs-Psikr&auml;fte</h2>
            </div>
            <div class="item item-input item-select" ng-repeat="i in range(1, round((profile.characteristics.wk + 5) / 10))">
                <div class="input-label" ng-bind="i + '. Psikraft'"></div>
                <select ng-model="onboarding.psiPowers[$index]"
                        ng-init="onboarding.psiPowers[$index] = conf.psi[$index].name"
                        ng-options="choice.name as choice.name for choice in conf.psi | filter:{discipline:'Geringere Psikraft'}">
                </select>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                <h2>Scholastica Psykana</h2>
            </div>
            <div class="item item-input item-select">
                <div class="input-label">Rang: {{conf.scholastica[onboarding.scholastica][0]}}</div>
                <select ng-model="onboarding.scholastica"
                        ng-init="onboarding.scholastica = 'Prophetie'"
                        ng-options="choice for choice in keys(conf.scholastica)">
                </select>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="list card">
            <div class="item item-divider">
                <h2>Nebenwirkungen der Sanktionierung</h2>
            </div>
            <div class="item">
                <h2 ng-bind="getSanction().name"></h2>
                <p ng-bind="getSanction().text"></p>
            </div>
            <div class="item">
                <p ng-show="getSanction().ch">
                    Charisma:
                    <font color="red" ng-bind="getSanction().ch"></font>
                </p>
                <p ng-show="getSanction().in">
                    Intelligenz:
                    <font color="red" ng-bind="getSanction().in"></font>
                </p>
                <p ng-show="getSanction().trait">
                    Merkmal: {{getSanction().trait))
                </p>
                <p ng-show="getSanction().thrones">
                    Startkapital:
                    <font color="green" ng-bind="'+' + getSanction().thrones"></font>
                </p>
                <p ng-show="getSanction().madness">
                    Wahnsinn:
                    <font color="red" ng-bind="'+' + getSanction().madness"></font>
                </p>
                <p ng-show="getSanction().wi">
                    Widerstandskraft:
                    <font color="red" ng-bind="getSanction().wi"></font>
                </p>
                <p ng-show="getSanction().wk">
                    Willenskraft:
                    <font color="green" ng-bind="'+' + getSanction().wk"></font>
                </p>
            </div>
        </div>
    </div>
</div>
<a ng-click="proceedPsi()"
   class="button button-block button-assertive icon-right ion-chevron-right">Weiter</a>